<!doctype html>
<html lang="ru">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <!-- Только CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

<nav class="navbar bg-light">
    <div class="container-fluid" style="background-color: #4169E1; height: 40px">
        <div class="col" style="margin-left: 13%">
            <a class="navbar-brand mx-auto" href="/" style="color: white;">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-book-half"
                     viewBox="0 1 16 16">
                    <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                </svg>
                BBM
            </a>
        </div>
        <div class="col-3" style="margin-right: -3%">
            <a class="navbar-brand mx-auto" href="/login/" style="color: white;">Войти</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row" style="height: 630px;">

        <div class="col">
            <br>
            <div style="width: 70%;" align="center">
                <h4>История успехов</h4>
            </div>
            <br>
            <div data-bs-spy="scroll" style="overflow: auto;width: 75%; height: 450px;" data-bs-target="#navbar-example2"
                 data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">

                {% for test in last_tests %}

                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-1 text-muted"><b>{{ test.user.username }}</b> - попытка №{{test.num}}: {{ test.count_of_done }}/9</h6>
                            <p class="card-text">Прогресс {{ test.progress }}%<br>
                                {{ test.start_date|date:"j.n.y" }} {{ test.start_date|time:"H:i" }}
                            </p>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>

        <div class="col">
            <br>
            <br>
            <div style="width: 25rem;">
                <img src="{% static 'exam_testing/cse1.jpg' %}" class="card-img-top">
                <div align="center">
                    <br>
                    <h5 class="card-title">Пройти тест по информатике</h5>
                    <p class="card-text">Подготовка к экзамену у Абрамского - Информатика 2 семестр, 1 курс</p>

                    <a class="btn btn-primary disabled" aria-disabled="true" role="button" data-bs-toggle="button"
                       style="width: 50%;" href="">ТЕСТ</a>

                </div>
            </div>
        </div>

        <div class="col" align='center'>
            <br>
            <div style="width: 70%;" align="center">
                <h4>Ваш прогресс</h4>
            </div>
            <br>


            <div class="card" style="width: 18rem;">
                <img src="{% static "exam_testing/progrs.jpg" %}" class="card-img-top" alt="..." style="border: 1px solid #767675;">
                <div class="card-body">
                    <p class="card-text">Каждый пользователь может видеть здесь свой прогресс. Для того, чтобы посмотреть свой прогресс - войдите.</p>
                </div>
            </div>

        </div>

    </div>

    <div class="row" style="background-color: #F5F5F5;">
        <div>
            <h2 align="center">Инструкция</h2>
            <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
                используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное
                распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст..
                Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют
                Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает,
                как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum
                получил
                много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
            </p>
            <ol>
                <li>Для прохождения теста - сначала авторизуйтесь</li>
                <li>Когда будете готовы - нажмите "ТЕСТ"</li>
                <li>Начнется попытка теста, по окончании теста - вы увидете свои результаты</li>
                <li>Каждый новый тест обязательно содержит в себе ещё не решенные вами вопросы, ваша задача - закрыть все
                    вопросы</li>
                <li>Свой прогресс вы сможете увидеть на панели вашего аккаунта</li>
            </ol>
        </div>
    </div>
</div>


<!-- Пакет JavaScript с Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>